@import '../../transitions.module.scss';

.aboutPage {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.picturePanel {
  @include slideUpAnimation;
  background-color: #E4C32E;
  width: 35%;
}

.aboutPanel {
  @include slideLeftAnimation;
  padding: 16px 16px 16px 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 8px;

  .title {
    color: #BE1E2D;
    font-size: 4rem;
  }

  .bodyText {
    font-size: 1rem;
    width: 70%;
  }
}
