@import '../../transitions.module.scss';

.workPage {
  display: grid;
  grid-template-areas:
    "one two"
    "three three";
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.workItemOne,
.workItemTwo,
.workItemThree {
  width: 100%;
  height: 100%;
}

.workItemOne {
  grid-area: one;
  background-color: red;
  @include slideRightAnimation;
}

.workItemTwo {
  grid-area: two;
  background-color: green;
  @include slideLeftAnimation;
}

.workItemThree {
  grid-area: three;
  background-color: blue;
  @include slideUpAnimation;
}
